<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         cacheResult="true"
         cacheResultFile=".phpunit.result.cache">
    
    <testsuites>
        <testsuite name="Monstein Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Config</directory>
        </exclude>
    </coverage>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_NAME" value="monstein_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value=""/>
        <env name="JWT_SECRET" value="test-secret-key-for-phpunit"/>
    </php>
</phpunit>
